Handle list of sec-websocket-protocol

### Environment

- VerneMQ Version: erlio/docker-vernemq (I believe it is using 1.7.1)
- OS: macOS Mojave - 10.14.1
- Cluster size/standalone: standalone

### Expected behavior

Using the [mqtt dart client](https://pub.dartlang.org/packages/mqtt_client) with the following parameters:

    _client = MqttClient("ws://localhost:8080/mqtt", "clientId");
    _client.useWebSocket = true;
    _client.port = 8080;
    _client.secure = false;
    _client.connect();

After ensuring that Docker exposes port 8080, I should be able to connect to VerneMQ via websockets at `ws://localhost:8080/mqtt`. 

### Actual behaviour

The client does not connect. Viewing the logs from VerneMQ, the following error message is displayed:

```
=ERROR REPORT==== 16-Apr-2019::15:23:28.973710 ===
Error in process <0.2155.0> on node 'VerneMQ@172.17.0.2' with exit value:
{[{reason,
      {case_clause,
          {ok,[<<"mqtt">>,<<"mqttv3.1">>,<<"mqttv3.11">>],
              {http_req,#Port<0.51>,ranch_tcp,keepalive,<0.2155.0>,<<"GET">>,
                  'HTTP/1.1',
                  {{172,17,0,1},59960},
                  <<"10.53.40.48">>,undefined,8080,<<"/mqtt">>,undefined,<<>>,
                  undefined,[],
                  [{<<"user-agent">>,<<"Dart/2.1 (dart:io)">>},
                   {<<"connection">>,<<"Upgrade">>},
                   {<<"cache-control">>,<<"no-cache">>},
                   {<<"accept-encoding">>,<<"gzip">>},
                   {<<"content-length">>,<<"0">>},
                   {<<"sec-websocket-version">>,<<"13">>},
                   {<<"host">>,<<"10.53.40.48:8080">>},
                   {<<"sec-websocket-extensions">>,
                    <<"permessage-deflate; client_max_window_bits">>},
                   {<<"sec-websocket-key">>,<<"YihxDQ7sM+SoeUNxe2/WaQ==">>},
                   {<<"sec-websocket-protocol">>,
                    <<"mqtt, mqttv3.1, mqttv3.11">>},
                   {<<"upgrade">>,<<"websocket">>}],
                  [{<<"sec-websocket-protocol">>,
                    [<<"mqtt">>,<<"mqttv3.1">>,<<"mqttv3.11">>]},
                   {<<"sec-websocket-extensions">>,
                    [{<<"permessage-deflate">>,
                      [<<"client_max_window_bits">>]}]},
                   {<<"upgrade">>,[<<"websocket">>]},
                   {<<"connection">>,[<<"upgrade">>]}],
                  undefined,
                  [{websocket_version,13},{websocket_compress,false}],
                  waiting,<<>>,undefined,false,waiting,[],<<>>,undefined}}}},
  {mfa,{vmq_websocket,websocket_init,3}},
  {stacktrace,
      [{vmq_websocket,websocket_init,3,
           [{file,
                "/vernemq-build/_build/default/lib/vmq_server/src/vmq_websocket.erl"},
            {line,38}]},
       {cowboy_websocket,handler_init,3,
           [{file,
                "/vernemq-build/_build/default/lib/cowboy/src/cowboy_websocket.erl"},
            {line,131}]},
       {cowboy_protocol,execute,4,
           [{file,
                "/vernemq-build/_build/default/lib/cowboy/src/cowboy_protocol.erl"},
            {line,442}]}]},
```

After looking through the snippet of code below (from`vmq_websocket.erl`) the issue seemed to be that the protocols provided in the `sec-websocket-protocol` header were not valid. (Note I am a complete novice with Erlang)

```
-define(SUPPORTED_PROTOCOLS, [<<"mqttv3.1">>, <<"mqtt">>]).

.
.
.

websocket_init(Type, Req, Opts) ->
    case cowboy_req:parse_header(<<"sec-websocket-protocol">>, Req) of
        {undefined, _, Req2} ->
            init_(Type, Req2, Opts);
        {ok, [SubProtocol], Req2} ->
            case lists:member(SubProtocol, ?SUPPORTED_PROTOCOLS) of
                true ->
                    Req3 = cowboy_req:set_resp_header(<<"sec-websocket-protocol">>, SubProtocol, Req2),
                    init_(Type, Req3, Opts);
                false ->
                    {shutdown, Req2}
            end
    end.
```

Digging in further (and from looking at the log provided above), my client is connecting with the `sec-websocket-protocol` header set to `[mqtt, mqttv3.1, mqttv3.11]`. Both `mqtt` and `mqttv3.1` should be supported protocols according to the `SUPPORTED_PROTOCOLS` defined above. However, it seems that the code snippet above is only able to deal with a single sub protocol and not a list. Defined in [RFC 6455, section 4.1, #10](https://tools.ietf.org/html/rfc6455#section-4.1) `sec-websocket-protocol` can be a list.

I was able to solve the issue from the client side by only sending a single sub protocol:
```
_client.websocketProtocols = ["mqttv3.1"];
```
but I believe this is an issue that should be fixed within VerneMQ and not have to be dealt with on the client side.

If I have made any errors in my assessment (for example, VerneMQ does support a list for the `sec-websocket-protocol` header), please let me know.

Hi @joshfoeh thanks for this detailled investigation and report. Giving it a quick thought, I think you're  right that this should be fixed server side, although I'm not sure that a protocol version negotiation is part of what most clients would want to do. Still, we probably shouldn't fail as long as a client speaks legal `sec-websocket-protocol`.
cc @dergraf @larshesel 

@joshfoeh Thanks for opening this issue. I can confirm that this is a bug.